body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: darkslategrey;
    font-size: x-large;
}

h2 {
    text-align: center;
    color: darkslateblue;
    font-size: larger;
}

h3 {
    text-align: left;
    color: darkslategrey;
    font-size: large;
    margin: 20px;
    padding: 8px 20px;
}

img {
    display: block;
    margin: auto;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    margin: 10px;
    padding: 8px 30px;
}

.notes {
    background-color: darkkhaki;
    color: darkslateblue;
    text-align: center;
}

.attribution {
    background-color: bisque;
}

aside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
    margin: 10px;
    padding: 8px 30px;
}

li {
    margin: 2px;
    padding-top: 2px;
}

li:nth-child(even) {
    background-color: bisque;
}

nav li {
    display: inline-block;
    margin: 8px;
    transition-duration: 1s;
}

nav li:hover {
    background-color: lavender;
    transition-duration: 1s;
}

a {
    transition-duration: 1s;
}

a:hover {
    background-color: lavender;
    transition-duration: 1s;
}

div a {
    background-color: bisque;
    font-size: medium;
    margin: 10px;
    padding: 2px 30px;
    transition-duration: 1s;
}

div a:hover {
    background-color: lavender;
    font-size: large;
    transition-duration: 1s;
}